/* ------------------------------------*\
  #Lexend Deca
\*------------------------------------ */

@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: local("Lexend Deca"), url("../assets/fonts/LexendDeca-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 700;
  src: local("Lexend Deca Bold"), url("../assets/fonts/LexendDeca-Bold.ttf");
  font-display: swap;
}
