.layout {
  display: grid;
  grid-template:
    "main" 1fr
    "nav" auto
    / auto;
  min-height: 100vh;
  min-width: 360px;
  margin: 0 auto;
  background-color: white;

  nav {
    grid-area: nav;
  }

  main {
    grid: main;
    padding: 0 16px;
  }

  footer {
    display: none;
    grid-area: footer;
  }
}

@include for-desktop-up {
  .layout {
    grid-template:
      "nav" auto
      "main" 1fr
      "footer" auto
      / auto;

    .footer {
      display: block;
    }
  }
}
