.nav {
  position: fixed;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-flow: nowrap row;
  width: 100%;
  justify-content: space-around;
  border-top: solid 1px;
  padding-top: 5px;

  .link {
    text-decoration: none;
    color: black;
    height: 64px;
    width: 64px;
    background: {
      repeat: no-repeat;
      position: center;
      size: contain;
      color: transparent;
    }

    .link-text {
      display: none;
    }
  }

  .link-expenses {
    background-image: url("../../assets/images/expenses.svg");
  }

  .link-analytics {
    background-image: url("../../assets/images/analytics.svg");
  }

  .link-about {
    background-image: url("../../assets/images/about.svg");
  }

  .link-logout {
    background-image: url("../../assets/images/logout.svg");
  }
}

@include for-desktop-up {
  .nav {
    position: static;
    justify-content: left;
    gap: 5%;
    padding: 0 2%;
    border-top: none;
    border-bottom: solid 1px;

    .link {
      background: none;
      line-height: 64px;
      width: fit-content;

      .link-text {
        display: block;
      }
    }

    .link-logout {
      margin-left: auto;
    }
  }
}
